Aplikacje okienkowe

Wyrażenia listowe, wyrażenia lambda;

Lista składana - popularna funkcjonalność języka Python - umożliwia szybkie tworzenie i modyfikowanie list.

Składnia: [wyrażenie + kontekst]

Wyrażenie określa działanie jakie powinno być wykonane na każdym elemencie listy, kontekst określa które elementy listy należy wybrać (może zawierać dowolną liczbę słów kluczowych for, if, itd.). 

Przykład:
Wyrażenie 
<pre>
[x for x in range(10)]
</pre>
Utworzy nam listę elementów x o wartościach od 0 do 10.

In [1]:
[x for x in range(10)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

Zadanie

Za pomocą listy składanej utwórz listę zawierającą elementy od 0 do 100.

Zadanie

Za pomocą listy składanej utwórz sekwencję krorek zawierających pary liczb x, y.

Za pomocą listy składanej

Pisanie testów;

Dokumentowanie kodu;

Zaawansowane aspekty funkcji, zmiennych, pól i metod;

Podstawy operacji na bazie danych;

Zadania:
1. Utwórz plik bazodanowy, załóż tabele...
2. Dokonaj odczytu z bazy danych
3. Dokonaj zmian w bazie

In [3]:
import sqlite3

In [4]:
conn = sqlite3.connect('test_database') 
c = conn.cursor()

c.execute('''
          CREATE TABLE IF NOT EXISTS products
          ([product_id] INTEGER PRIMARY KEY, [product_name] TEXT)
          ''')
          
c.execute('''
          CREATE TABLE IF NOT EXISTS prices
          ([product_id] INTEGER PRIMARY KEY, [price] INTEGER)
          ''')
                     
conn.commit()

In [5]:
c.execute('''
          INSERT INTO products (product_id, product_name)

                VALUES
                (1,'Computer'),
                (2,'Printer'),
                (3,'Tablet'),
                (4,'Desk'),
                (5,'Chair')
          ''')

c.execute('''
          INSERT INTO prices (product_id, price)

                VALUES
                (1,800),
                (2,200),
                (3,300),
                (4,450),
                (5,150)
          ''')

conn.commit()

In [8]:
import pandas as pd

                   
c.execute('''
          SELECT
          a.product_name,
          b.price
          FROM products a
          LEFT JOIN prices b ON a.product_id = b.product_id
          ''')

df = pd.DataFrame(c.fetchall(), columns=['product_name','price'])
df

  product_name  price
0     Computer    800
1      Printer    200
2       Tablet    300
3         Desk    450
4        Chair    150

Podstawy aplikacji webowych w Pythonie;